* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container  {
  background-color: #14BDAC;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
}

.title span {
  color: #F2EBD3;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}

.game-grid {
  background: #0DA192;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: repeat(3,1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background: #14BDAC;
  padding: 25px 0;
  text-align: center;
  font-size: 130px;
  cursor: pointer;
  height: 200px;
  width: 200px;
}
